.navbar-container {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 10;
    padding: 16px 0;
}

.logo {
    font-size: 26px;
    color: #fff;
    text-decoration: none;
    font-family: 'Chivo Mono', monospace;
    font-weight: 700;
}

.nav-links {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding-left: 20px;
    transition: 0.2s ease-in;
}

.nav-links:hover {
    color: var(--primary-color);
}